@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  @keyframes floatUp {
    0% { transform: translateY(100vh); opacity: 0; }
    10% { opacity: 0.2; }
    90% { opacity: 0.2; }
    100% { transform: translateY(-20vh); opacity: 0; }
  }

  .animate-float-up {
    animation: floatUp 15s linear infinite;
  }

  .bg-dot-grid {
    background-image: radial-gradient(#000000 0.5px, transparent 0.5px);
    background-size: 32px 32px;
  }
}
